<h1>Movie CRUD APPLICATION</h1>

<div class="add-button-container">
  <button class="btn btn-primary" (click)="add()">Add</button>
</div>
<div *ngIf="showForm" class="myForm">
  <button (click)="stop()" class="btn btn-close btn-primary"></button>
  <input type="number" class="form-control" placeholder="Enter Id" [(ngModel)]="movieId"><br><br>
  <input type="text" class="form-control" placeholder="Enter Name of Movies" [(ngModel)]="movieName" required><br><br>
  <input type="text" class="form-control" placeholder="Enter Genre" [(ngModel)]="movieGenre"><br><br>
  <input type="number" class="form-control" placeholder="Enter Year" [(ngModel)]="movieYear"><br><br>
  <input type="text" class="form-control" placeholder="Enter Image Link" [(ngModel)]="movieImageLink"><br><br>
  <button class="btn btn-primary" (click)="submitData()">{{ editMode ? 'Submit' : 'Update' }}</button>
  <button *ngIf="editMode" class="btn btn-primary" (click)="patchData()">Patch</button>
</div>

<div class="movies">
  <div class="movie" *ngFor="let m of movies">
    <img [src]="m.image" [alt]="m.movie_name">
    <h2>{{ m.movie_name }}</h2>
    <p>Year: <strong>{{ m.year }}</strong></p>
    <p>Genre: <strong>{{ m.genre }}</strong></p>
    <div class="btn btn-group">
      <button class="btn btn-primary" (click)="update(m.id)">Update(✏️)</button>
      <button class="btn btn-danger" (click)="remove(m.id)">Delete(❌)</button>
    </div>
  </div>
</div>
